.hero {
  background-image: url("../images/bg-mob.jpg");
  background-size: cover;

  @include device(desk) {
    background-image: url("../images/bg-desk.jpg");
  }
  min-width: 320px;
  min-height: 550px;

  &__title {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 122.5%;
    margin-top: 20px;
    /* or 34px */

    text-align: center;
    text-transform: uppercase;

    color: var(--white-color);
    text-shadow: 5px 5px rgb(255 255 255 / 10%);
    margin-bottom: 40px;

    @include device(desk) {
      font-size: 96px;
      line-height: 120%;
      text-align: left;
      max-width: 800px;
    }
  }

  &__side-text {
    max-width: 212px;

    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #c5c5c5;

    margin-bottom: 60px;

    @include device(desk) {
      font-size: 18px;
      line-height: 140%;
      max-width: 370px;
      text-align: center;
    }
  }

  &__text {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */

    letter-spacing: -0.025em;

    color: var(--white-color);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    @include device(desk) {
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 20px;
    }
  }

  &__contact {
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;
    @include device(desk) {
      max-width: 430px;
      //   margin-left: auto;
      //   margin-right: 0;

      margin-left: auto;
      margin-right: 0;
      margin-top: -20%;
    }
  }
}

.side-text--link {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  letter-spacing: 0.04em;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: var(--white-color);

  @include device(desk) {
    font-size: 18px;
    line-height: 140%;
  }
}

.text--accent {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  letter-spacing: -0.025em;

  color: #ffffff;
}

.main-button {
  max-width: 145px;
  display: flex;
  text-decoration: none;
  padding: 22px 34px;
  border-radius: 20px;
  color: black;
  background: var(--white-color);
  margin: 0 auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  transition-duration: 250ms;

  @include device(desk) {
    // margin-left: auto;
    // margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: #c5c5c5;
  }
}

.arrow--down {
  @include device(notDesk) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    opacity: 0;
  }
  @include device(desk) {
    margin-left: auto;
    margin-right: auto;
    animation-name: swipe-down;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    //   animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@keyframes swipe-down {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(130%);
  }
  100% {
    transform: translateY(0);
  }
}
